.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height, 60px);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link {
  display: flex;
}

//Action
.actions {
  display: flex;
  align-items: center;
}

.more-btn {
  font-size: 2rem;
  margin-left: 28px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}

.action-btn {
  height: 3.6rem;
  align-items: center;
  display: flex;
  color: rgba(22, 24, 35);
  font-size: 2.2rem;
  background-color: transparent;
  padding: 4px 12px;
  cursor: pointer;
  position: relative;
}

.user-avatar {
  margin-left: 12px;
  width: 32px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.inbox-number {
  min-width: 20px;
  height: 20px;
  background-color: var(--primary);
  position: absolute;
  left: 50%;
  bottom: 58%;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  color: var(--white);
  padding: 0 6px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
